/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST ---------------------------
CSS Reset only works if I add it before I write my css.
I don't know how to delete my css and save it in order to retain it to add back to my style sheet after the CSS REST*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES ------------------- 
    Save all changes*/
    /*Text Content Habibi
    Text Headings Irish Grover
    Font Sizes H1 2.5em, H2 1.75em, H3 1.25em*/
    /* text and background colors*/

:root{
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}

/* ----------- GLOBAL STYLES (mobil first/small  --------------- */
/*---------------- Small-min-width: 428px -----------------------*/
nav {
    min-width: 428px;
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
}

body{
    display: grid;
    min-width: 428px;
    background-color: #000000;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    grid-template-columns: 10em 1fr;
    grid-template-rows:auto 1fr auto 1fr;
    grid-gap: 20px;
    min-height: 100vh;
}

main{
    background-color: #ffffff;
}

header{
    background-color: var(--green);
    color: var(--white);
    text-align: center;
}

h1{
    font-family: "Irish Grover", system-ui;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px var(--black);
}