/*Text Content Habibi
Text Headings Irish Grover
Font Sizes H1 2.5em, H2 1.75em, H3 1.25em*/
/*Colors*/
:root{

    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;    
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    background-color: orang#E75D02;
    color: #ffffff;
    font-size: 1.25rem;
    border: 1px solid white;
    border-radius: 32px;

}
#static {
    margin:0 auto;
}

#fluid {
    margin:0 auto;
}
/* -------------------- IMPORTED FONTS -------------------- */
html {
    font-family: 'Habibi';
}
h1 {
    font-family: 'Irish Grover';
    font-size: 2.5em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
header, footer {
    background-color: #06A816;
    color: #ffffff;
}
body{
    background-color: #FFFFFF;
}
/*-------------------- CSS REST ---------------------------*/
/* -------------------- ROOT VARIABLES ------------------- */
/* -------------GLOBAL STYLES (mobile first/small) ---------*/
/*-------------------- MEDIA QUERY (medium) ----------------*/
/*-------------------- MEDIA QUERY (large) -----------------*/
/*-------------------- MEDIA QUERY (xl) ---------------------*/
/*-------------- Breakpoints based on mockups ----------------*/
/*-------------- Small-min-width: 428px ----------------*/
@media screen and (min-width: 428px) {
    nav ul {
        display: grid;
        grid-template-columns: auto;
    }
}
/*-------------- Medium-width: 834px ----------------*/

/*-------------- Large-min-width: 1280px ----------------*/

/*-------------- XL-min-width: 1440px ----------------*/