:root{
    /* -------------------- ROOT VARIABLES ------------------- */
    /*Text Content Habibi
    Text Headings Irish Grover
    Font Sizes H1 2.5em, H2 1.75em, H3 1.25em*/
    /* text and background colors*/
    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;

    --shadow-sm: -5px var(var(--Black))
    
    /* Font Stacks*/
    --heading-fonts: 'Irish Grover';
    --body-fonts: 'Habibi';
}

body{
    font-family: var(--body_fonts);
    color: var(--Black);   
}

header{
    background-color: var(--Green);
    color: var(--White)
}

header, footer{
    background-color: var(--Green);
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    color: var(--White);
}
}

h1{

}

h1, h2, h3{
    text-align: left;
    font-family: var(--heading-fonts);
}

h2{
    margin: 0;
    text-align: center;
    padding: 4px;
}

h3{
    margin: 0;
    padding: 4px;
}

nav{
    margin: 0 auto;
    padding: 0.5rem 0;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: right;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    width: 500px;
    margin: 2rem auto;    
}

nav a {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 1.25rem;
    border: 2px solid var(--White);
    border-radius: 5px;
}

main{
    padding: 2rem 1rem;
}

section{
    padding: 1rem;
}

#static {
    margin:0 auto;
}

#fluid {
    margin:0 auto;
}
/* -------------------- IMPORTED FONTS -------------------- */
html {
    font-family: 'Habibi';
}
h1 {
    font-family: 'Irish Grover';
    font-size: 2.5em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}

#fruits{
    text-align: right;
    margin: 3rem auto;
}

#vegetables{
    text-align: right;
    margin: 3rem auto;
}

body{
    background-color: var(--White);
}
/*-------------------- CSS REST ---------------------------*/
/* -------------GLOBAL STYLES (mobile first/small) ---------*/


/*-------------- Breakpoints based on mockups ----------------*/

/*------------------- MEDIA QUERY (xl) ---------------------*/

/*-------------- Small-min-width: 428px ----------------*/
@media screen and (min-width: 428px) {
    nav ul {
        display: grid;
        grid-template-columns: auto;
    }
}
/*------------- MEDIA QUERY (medium) ----------------*/
/*-------------- Medium-width: 834px ----------------*/
@media screen and (medium-width: 834px) {
    nav ul {
        display: grid;
        grid-template-columns: auto;
    }    
}
/*-------------------- MEDIA QUERY (large) -----------------*/
/*-------------- Large-min-width: 1280px ----------------*/
@media screen and (large-min-width: 1280px) {
    nav ul {
        display: grid;
        grid-template-columns: auto;
    }
}
/*-------------- XL-min-width: 1440px ----------------*/
@media screen and (XL-min-width: 1440px) {
    nav ul {
        display: grid;
        grid-template-columns: auto;
    }
}